@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Gabriel Fuentes
   Date: 11.9.18
	
   Filename: br_styles.css

*/

html {
    background: #D3D3DB;
    width: 100%;
}

body {
    width: 85%;
    min-width: 360px;
    max-width: 2880px;
    background: #F9F5EA;
    margin: 0 auto;
    outline: 5px solid #FDFBF6;
}

header img {
    background: url(br_paper.png);
    background-size: 100%;
    width: 100%;
    margin: 0 auto;
}
/* This sets the html. body and img inside the header to have a certain margin, background, margin, and outline. Its supposed to be the body taking up 85% of the webpage and it cannot be smaller than 360 pixels with a max of 2880 pixels. The body also has a solid border 5 pixels wide on the left and right sides. The header sets the background image for the logo to have a crumpled paper texture and fills the whole header. */
/* .dropdown {
    display: none;
} */

nav {
    background: #FDFBF6;    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    background-image: linear-gradient(to right, blue,indigo,violet), linear-gradient(to bottom, violet, indigo, blue);
}

nav a {
    margin: 0 auto;
    color: rgba(90, 0, 172, .8);
    border: 5px double #D3D3DB;
    padding: 5px;
    background-image: radial-gradient(circle closest-corner at 5% 2%, white 15%, rgba(207, 7, 207, .5) );
}

nav a::after {
    clear:both;
    content:"";
    display: table;
    margin: auto;
}
/* This sets the nav to have two rows and 6 in the first row along with 4 in the 2nd row. It has 6 columns with 2 anchors per column for 4 columns. The background for this will look like a color pattern with the anchors being outlined with a background having a radial gradient. */
section {
    position: relative;
    margin: 10px 10px 0px 10px;
    color: rgb(187, 7, 187);
    display: grid;
    grid-area: auto;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color:rgb(207, 7, 207);
    grid-row: 1/1;
    margin: 0 auto;
    text-shadow: 5px 5px 5px black;
}

blockquote {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    grid-row: 2/2;
    grid-column: 1/1;
    margin: 0 auto;
}

blockquote li {
    list-style-type: none;
}

div {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/2;
    grid-row: auto;
    padding: 5% 0 5% 0;
}

.rightmargin {
    float: left;
    display: grid;
    grid-column: 2/2;
    grid-row: auto;
    margin: 0 auto;
    filter: brightness(.6);
    box-shadow: 2px 2px 4px #D3D3DB;
}

.leftmargin {
    float: left;
    display: grid;
    grid-column: 1/1;
    grid-row: auto;
    margin: 0 auto;
    filter: brightness(.9);
    box-shadow: 2px 2px 4px #D3D3DB
}

figcaption {
    padding: 5px;
    margin: 0 auto;
}
/* div[class^=""] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left {
    display: grid;
    grid-column: 2/2;
    grid-row: auto;
    margin: 0 auto;
    padding: 5px 0;
}

.right {
    display: grid;
    grid-column: 1/1; 
    grid-row: inherit;
    margin: 0 auto;
    padding: 5px 0;
} */

/* figure[id^=""] {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1/1;
    grid-column: 1/1;
} */

/* This sets everything in section to be two columns. This also spilts to images in the two columns so it doesn't make a lot of blank space the images also each have their own caption that has the same color as all other text. The padding and margins are used to space them apart and make sure the text is centered. */

